<h2>Welcome back. </h2>
<p>Begin managing solar panel efficiency by clicking a link in the main navigation.</p>

<hr />

<h3>Latest Light Sensor Data</h3>
<div class="sk-wave" ng-hide="loaded">
  <div class="sk-rect sk-rect1"></div>
  <div class="sk-rect sk-rect2"></div>
  <div class="sk-rect sk-rect3"></div>
  <div class="sk-rect sk-rect4"></div>
  <div class="sk-rect sk-rect5"></div>
</div>
<div id="line-area" style="height: 250px" class="ct-golden-section"></div>

<br />
<br />
<h3>Latest Temperature Sensor Data</h3>

<div id="line-area2" style="height: 250px" class="ct-golden-section"></div>
